<script>
    const url=location.protocol+'//'+location.host+'/view.json' //?value=
    function send_query() {
        
        
        const xhr=new XMLHttpRequest()
        xhr.open('GET', url)

        xhr.onload = ()=> {
            
            show_result(JSON.parse(xhr.response))
        }
        xhr.send()
    }
    
    function show_result(data){
        const result = document.getElementById("result")   
        result.innerHTML=""
        
        if (data.type == 'String') {
            result.innerHTML=""
            
            
        }
        else {
            local_data=data.value
            newRow = document.createElement('tr')
            new_col_iteration = document.createElement('td')
            new_col_factorial = document.createElement('td')
            new_col_number_1 = document.createElement('td')
            new_col_number_2 = document.createElement('td')
            new_col_number_3 = document.createElement('td')

            new_col_factorial.innerText='factorial'
            new_col_iteration.innerText='iteration'
            new_col_number_1.innerText='number1'
            new_col_number_2.innerText='number2'
            new_col_number_3.innerText='number3'

            newRow.append(new_col_iteration,new_col_factorial,new_col_number_1,new_col_number_2,new_col_number_3)
            result.append(newRow)
            for( let i=0; i<local_data.length; i+=3){
                newRow = document.createElement('tr')
                
                new_col_iteration = document.createElement('td')
                new_col_factorial = document.createElement('td')
                new_col_number_1 = document.createElement('td')
                new_col_number_2 = document.createElement('td')
                new_col_number_3 = document.createElement('td')

                new_col_factorial.innerText=local_data[i]
                new_col_iteration.innerText=local_data[i+1]
                new_col_number_1.innerText=local_data[i+2]-1
                new_col_number_2.innerText=local_data[i+2]
                new_col_number_3.innerText=local_data[i+2]+1

                newRow.append(new_col_iteration,new_col_factorial,new_col_number_1,new_col_number_2,new_col_number_3)
                result.append(newRow)
            }
        }
    }
</script>

<button onclick="send_query()">Click me</button> 
<table id='result'>
<tr>
    <td> iteration </td>
    <td> factorial </td>
    <td> number 1 </td>
    <td> number 2 </td>
    <td> number 3 </td>
</tr>
</table>
